/.idea
/build

.DS_Store
/buildpipelinebeat
/buildpipelinebeat.test
buildpipelinebeat.exe
buildpipelinebeat_*.syso
*.pyc
*.exe
logs/
mage_output_file.go
data/
.vscode/
examples/
Dockerfile
*.md
.travis.yml
*.txt
.gitignore
