################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

buildpipelinebeat:
  # The Teamname
  team: defaultTeam
  # Fallback Buildstatus
  status: Failure
  # Pipleine
  pipeline: fallbackPipeline
  # Project
  project: fallbackProject
  # The Fallback Error
  error: None
